[submodule "opkg/coco"]
	path = opkg/coco
	url = https://github.com/cocoatly/cocoatly
[submodule "src/apps/src/apps/MonobrainsCodeEditor"]
	path = src/apps/src/apps/MonobrainsCodeEditor
	url = https://github.com/TwopTheCreator/Monobrains
[submodule "src/apps/MonobrainsCodeEditor"]
	path = src/apps/MonobrainsCodeEditor
	url = https://github.com/TwopTheCreator/Monobrains
[submodule "src/protocol_not_active/lizard"]
	path = src/protocol_not_active/lizard
	url = https://github.com/Lizardeis/Lizard
[submodule "src/apps/UI_Customization_Platform/beglaze"]
	path = src/apps/UI_Customization_Platform/beglaze
	url = https://github.com/RegularGuyThatCodes/beglaze
